// Colors
$light-green: #4cb8b3;
$light-pink: #f53756;
$light-yellow: #fef46d;
$dark-purple: #752f97;
$just-black: #000;
$just-white: #fff;

// Font Stack
$main-font-stack: 'Montserrat', sans-serif;

// Screen sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;