@use "base/variables" as v;
@use "base/mixins" as m;

.about-festival {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.festival-content {
  h2 {

  }

  .date-info {

  }
}