@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  // $main-black
  // $black-medium-dark
  background-color: v.$black-medium-dark;
  h1 {
    color: v.$just-white;
    text-align: center;
    font-size: v.$medium-large;
    letter-spacing: v.$medium-spacing;
    @include m.tabletView {
      margin: 0;
    }
  }
  .header-content {
    padding: 1rem;
    @include m.tabletView {
      display: flex;
      justify-content: space-between;
      align-items: center;
    };
  }
}

.main-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  @include m.tabletView {
    flex-direction: row;
    margin: 0;
    gap: 4rem;
    font-size: v.$regular;
  }
  a {
    text-align: center;
    color: v.$just-white;
    letter-spacing: -0.5px;
    @include m.tabletView {
      margin: 0;
    }
    &:hover {
      color: v.$accent-purple-medium-dark;
    }
  }
}